<div class="col s12">
  <div class="card horizontal">
    <div class="card-image valign-wrapper">      
      <i class="material-icons circle large valign">child_care</i>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <span class="card-title">{{child.name}}</span>
        <p ng-hide="vm.lastFeed">No feeds yet</p>
        <p ng-show="vm.lastFeed && !vm.lastFeed.end_time">Feeding on {{vm.lastFeed.right_side ? 'right' : 'left'}} since {{vm.lastFeed.start_time | elapsed : 'short'}}</p>
        <p ng-show="vm.lastFeed && vm.lastFeed.end_time">Last feed ended {{vm.lastFeed.end_time | elapsed : 'short'}}, fed for {{vm.lastFeed.start_time | timediff : vm.lastFeed.end_time }} on {{vm.lastFeed.right_side ? 'right' : 'left'}}.</p>
      </div>
      <div class="card-action">
        <div class="switch" ng-show="!vm.lastFeed || (vm.lastFeed && vm.lastFeed.end_time)">
          <label>
            Left
            <input type="checkbox" ng-model="vm.right_side">
            <span class="lever"></span>
            Right
          </label>
        </div>
        <a class="waves-effect waves-light btn" ng-show="!vm.lastFeed || (vm.lastFeed && vm.lastFeed.end_time)" ng-click="vm.startFeed()">Start Feed</a>
        <a class="waves-effect waves-light btn" ng-show="vm.lastFeed && !vm.lastFeed.end_time" ng-click="vm.endFeed()">End Feed</a>
      </div>
    </div>
  </div>
</div>