<div class="row">
  <div class="col m8 offset-m2 l6 offset-l4">
    <h1>Feeds</h1>
    <div class="row" ng-show="vm.children && vm.children.length>1">
      <div class="col s12">
        <div input-field>
          <select class="" ng-options="child as child.name for child in vm.children" ng-model="vm.selectedchildren" material-select multiple watch>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div ng-repeat="feedGroup in vm.feeds | feeds : vm.selectedchildren | groupBy: 'start_time | elapsed' | toArray:true | orderBy:'-start_time'">
          <label>{{feedGroup.$key}}</label>
            <ul class="collection">
              <li class="collection-item avatar" ng-repeat="feed in feedGroup">
                <i class="material-icons circle">child_care</i>
                <div class="col s8">
                  <span class="title">{{feed.child.name}}</span>
                  <p>{{feed.start_time | elapsed : 'short'}}, fed for {{feed.start_time | timediff : feed.end_time }} on {{feed.right_side ? 'right' : 'left'}}.</p>
                </div>
                <div class="col s4">
                  <a class="right click-link grey-text" ng-click="vm.remove(feed)"><i class="material-icons">delete</i></a>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red"
          href="/addfeed">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>
</div>