<div class="row">
  <div class="col m4 offset-m4">
    <h1>Feeds</h1>
    <div class="row">
      <div class="col s12">
        <div input-field>
          <select class="" ng-options="child as child.name for child in vm.children" ng-model="vm.selectedchildren" material-select multiple watch>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collection">
          <li class="collection-item avatar" ng-repeat="feed in vm.feeds | feeds : vm.selectedchildren">
            <i class="material-icons circle">child_care</i>
            <span class="title">{{feed.child.name}}</span>
            <p>{{feed.start_time | elapsed}}, fed for {{feed.start_time | elapsed : feed.end_time }} on {{feed.right_side ? 'right' : 'left'}}.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>