<div class="row">
  <div class="col m4 offset-m4">
    <h1>{{vm.child.name}}</h1>
      <div class="row">
        <label class="col s4">DOB</label>
        <span class="col s8">{{vm.child.birth_date}}</span>
      </div>
      <div class="row">
        <label class="col s4">Breastfeeding</label>
        <span class="col s8">{{vm.child.is_active ? "Yes":"No"}}</span>
      </div>
      <div class="row">
        <div class="col s12">
          <a href="/editchild/{{vm.child.id}}"
             class="waves-effect waves-light btn">
             Edit
          </a>
          <button ng-click="vm.remove()"
                  class="waves-effect waves-light red btn">
             Delete
          </button>
        </div>
      </div>
  </div>
</div>