<nav ng-controller="NavbarController as vm">
  <div class="nav-wrapper">
    <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="200" data-closeonclick="false">
      <i class="material-icons">menu</i>
    </a>
    <a href="/" class="brand-logo">Breastfeeding</a>
    <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
          <li><a href="/settings">Settings</a></li>
          <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
    </ul>
    <ul id="nav-mobile" class="side-nav">
        {% if user.is_authenticated %}
          <li><a href="/settings">Settings</a></li>
          <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
    </ul>
  </div>
</nav>