<div class="row">
  <div class="col m4 offset-m4">
    <h1>Login</h1>
    
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <p>Welcome. This app is currently still in development. If you have any questions or comments, feel free to send them <a href="mailto:rikboeykens@gmail.com">here</a>.</p>
            </div>
        </div>
    </div>

    <form role="form" ng-submit="vm.login()">
        <div class="row">
            <div class="input-field col s12">
                <input type="email" class="validate" id="login__email" ng-model="vm.email" />
                <label for="login__email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="password" class="validate" id="login__password" ng-model="vm.password" />
                <label for="login__password">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <button type="submit" class="btn waves-effect waves-light">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label>Not registered yet? <a href="/register">Click here</a> to create your account.</label>
            </div>
        </div>
    </form>
  </div>
</div>