<div class="row">
  <div class="col m4 offset-m4">
    <h1>First Setup</h1>
    <div class="row">
      <label class="col s12">
        Welcome to our Breastfeeding app. To get started, please fill out the name and date of birth of your child. You can change this later (or add a different child) in the settings menu.
      </label>
    </div>

    <form role="form" ng-submit="vm.addChild()">
        <div class="row">
            <div class="col s12" input-field>
                <input type="text" class="validate" id="child__name" ng-model="vm.name" />
                <label for="child__name">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12" input-field>
                <input input-date type="text" class="validate" id="child__birth_date" ng-model="vm.birth_date" />
                <label for="child__birth_date">Birthdate</label>
            </div>
        </div>

        <div class="row">
          <div class="col s12">
            <a href="/settings" class="btn waves-effect waves-light red">Back</a>
            <button type="submit" class="btn waves-effect waves-light right">
                Add
                <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
    </form>
  </div>
</div>