<div class="row">
  <div class="col m8 offset-m2 l6 offset-l4">
    <h1>Settings</h1>
    <div class="row">
      <div class="col s12">
        <h3>Children</h3>
        <ul class="collapsible popout" data-collapsible="accordion">
          <li class="collection-item avatar" ng-repeat="child in vm.children">
            <div class="collapsible-header">
              <div class="row">
                <div class="col s8">
                  <i class="material-icons circle">child_care</i>
                  <span class="collapsible-title">{{child.name}}</span>
                </div>
                <div class="col s4">
                  <a class="right click-link grey-text" ng-click="vm.remove(child)"><i class="material-icons">delete</i></a>
                  <a class="right click-link grey-text" href="/editchild/{{child.id}}"><i class="material-icons">edit</i></a>
                </div>
              </div>
            </div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s12">
                  <span>DOB: {{child.birth_date}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <span>Show on dashboard: {{child.is_active ? 'Yes' : 'No'}}</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="fixed-action-btn">
          <a class="btn-floating btn-large red"
              href="/addchild">
            <i class="large material-icons">add</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>